.add_folder{

}

.add_file{
    width:120px;
}
.add_input{
position:absolute;
left:50%;
top:50%;
transform: translate(-50%, -50%);
width:300px;
height:40px;
}
.add_block{
    display: flex;
    justify-content: space-between;
    width:300px;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
}